venv
.vs
.vscode
*.sqlite3
*.pyc
__pycache__
core/__pycache__
core/migrations
cursos/__pycache__
cursos/templatetags/__pycache__
cursos/tests/__pycache__
cursos/migrations
usuarios/__pycache__
usuarios/migrations
