{% extends "base.html" %}
{% load static %}

{% block main %}
    <div class="pure-g-r content-ribbon">
        <div class="pure-u-1">
            <ul class="breadcrumb">
                <li><a href="{% url 'core_home' %}">Início</a></li>
                <li>/</li>
                <li><a href="{% url 'forum_index' %}">Fórum de Discussões</a></li>
                <li>/</li>
                <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
            </ul>
        </div>

        <div class="pure-u-1-3">
            <div class="pure-menu pure-menu-open">
                <ul>
                    <li class="pure-menu-heading">Tópicos</li>
                    <li><a href="?order="><i class="icon-refresh"></i> Mais Recentes</a></li>
                    <li><a href="?order=visualizados"><i class="icon-eye-open"></i> Mais Visualizados</a></li>
                    <li><a href="?order=repostas"><i class="icon-comments-alt"></i> Mais Comentados</a></li>
                    <li class="pure-menu-heading">Tags</li>
                    <li>
                        {% for tag in tags %}
                            <a href="{% url 'index_tagged' tag.slug %}" class="tags">
                                <i class="icon-tags"></i>
                                {{ tag }}
                            </a>
                        {% endfor %}
                    </li>
                </ul>
            </div>
        </div>

        <div class="pure-u-2-3">
            <div class="inner">
                <div class="well">
                    <h2>{{ object }}</h2>

                    {{ object.conteudo }}

                    <h5>Criado por {{ object.autor }}</h5>

                    <p>
                        <i class="icon-tags"></i>
                        Tags:
                        {% for tag in object.tags.all %}
                            <a href="{% url 'index_tagged' tag.slug %}" title="">{{ tag }}</a>
                            {% if not forloop.last %},{% endif %}
                        {% endfor %}
                        <a class="fright" href="#" title="">Criado a {{ object.created_at|timesince }} atrás</a>
                    </p>
                </div>

                <div class="well">
                </div>
            </div>
        </div>
    </div>
{% endblock %}